body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
    background-color: #EFFFFD;
    background-size: cover;
}

.main-container{
    height: 90%;
    width: 600px;
    padding: 30px;
    border-radius: 15px;
}
.main-containerBg{
    background-color: #42C2FF;
    opacity: 0.4;
    height: 95%;
    width: 700px;
    position: absolute;
    border-radius: 20px;
    z-index: -1;
}
.display{
    height: 75%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    color: white;
    column-gap: 100px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.display div{
    font-size: 25px;
}
.header{
    display: grid;
    grid-template-columns:1fr 1fr 2fr;
}

#search-bar{
    width: 400px;
    height: 50px;
    border-radius: 30px;
    border: none;
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    padding-left: 30px;
    font-size: 20px;
}


#search-button{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: none;
    font-size: 20px;   
    grid-row: 3 / 3;
    grid-column: 1 / 3;
}



.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 25%;
    align-items: center;
    justify-items: center;
}


.units{
    height: 50px;
    width: 100px;
    border: none;
    background: white;
    border-radius: 20px;  
    font-size: 20px;

}
#unit{
    justify-self: start;
    margin-left: 20px;
}
#tempUnitBtn{
    justify-self: end;
    margin-right: 20px;
}