#location-icon{
    width: 15px;
    height: 15px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
body{
    background: linear-gradient(45deg,#28D8FF, #00FF9D);
}
#wind-dir-icon{
    filter:grayscale(100%)
}
#search-btn{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 5px;
}
#search-btn:hover{
    border-bottom: 1px solid lightgray;
    background-color: rgba(211, 211, 211, 0.295);
}
.search{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    z-index: 5;
}
#search-bar{
    height: 30px;
    width: 80%;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-right: 20px;
    padding-left: 10px;
    border-radius: 5px;
}
#search-btn img{
    height: 15px;
    width: 15px;
    border-radius: 5px;
    
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    opacity: 0;
}
.today-card{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: rgb(43, 42, 42);
}
.current-date{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.location{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#temp{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}
.icons{
    height: 50px;
    width: 50px;
}
.more-info{
    margin-top: 50px;
    min-width: 520px;
    max-width: 1050px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.more-info-cards{
    width: 250px;
    height: 150px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    font-size: 20px;
}
.more-info-cards div{
    padding-left: 10px;
    padding-top: 20px;
}
.more-info-cards .icons{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    align-self: center;
}
.general-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 100vw;
}
.future{
    height: 100px;
    display: flex;
    gap: 10px;
}

.current{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.days{
    padding: 10px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    background-color: rgba(128, 128, 128, 0.493);
    color: white;
}
.show{
   opacity: 1;
   transition: all 0.3s;
}
.firstRun{
    transform: translateY(+45vh) scale(1.2);
    transition: all 0.3s;
}
.loading-screen{
    width: 100vw;
    height: 100vh;
    z-index: 15;
    background: linear-gradient(45deg,#28D8FF, #00FF9D);;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#loading-icon{
    width: 50px;
    height: 50px;
    
}
.show-loading{
    display: flex;
}
.animate-loading{
    animation: loading-animation 2s infinite linear;
}
@keyframes loading-animation {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(+180deg);
    }
    100% {
        transform: rotateZ(+360deg);
    }
}
#background-image{
    z-index: -10;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    
}